body{
    display: flex;
    justify-content: center;
    background-color: rgb(3, 10, 0);
    color: white;
    text-align: center;
    align-items: center;
}
.container {
    margin-top: 200px;

}
.clock{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100px;
    width: 420px;
    background:
    linear-gradient(black,black,padding-box),
    linear-gradient(90deg,#00ff88,#ffd000,#ff4dd2,#7a5cff) border-box ;
    color: white;
    box-shadow: 0 0 20px #00ff88,
                0 0 40px  #ff4dd2,
                0 0 60px  #7a5cff;
    border-radius: 10px;        
}
#time{
    
    font-size: 50px;
    text-shadow: 0 0 10px cyan,0 0 20px cyan;
    color: white;
    
}
#ampm{
    font-size: 30px;
    color: 000ffff;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
   
}
#date{
    font-size: 20px;
    color: white;}